<!-- <h2> AppWorkSpace</h2><hr>
Welcome : {{title}} -->
<!-- <app-prodect></app-prodect>-->
<!-- <app-calculator></app-calculator> -->
<div class='container'>
   <!-- <h1>App Component</h1>
    <app-parent></app-parent>
    </div> 
    <app-sibling1></app-sibling1>
    <app-sibling2></app-sibling2>  -->
    <app-reactive-forms></app-reactive-forms>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">



      <!-- Brand -->
    
    
    
      <a class="navbar-brand" href="#">Navbar</a>
    
  
      <!-- Toggler/collapsibe Button -->
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    
        <span class="navbar-toggler-icon"></span>
    
      </button>
     <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
    
        <ul class="navbar-nav">
        <li class="nav-item">
  
            <a class="nav-link" routerLink='/java' routerLinkActive='active'>Java</a>
    
          </li>
    
          <li class="nav-item">
      <a class="nav-link" routerLink='/web' routerLinkActive='active'>Web</a>
    
          </li>
    
        </ul>
    
      </div>
    
    </nav>
    </div>

    <router-outlet></router-outlet>
    